include:
  - project: ccx/ccx-gitlab-includes
    ref: master
    file: /ccx-lib.yml


stages:
  - lint
  - test
  - covcheck
  - deploy


linting:
  extends: .pre-commit:lint
  stage: lint
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
    - if: $CI_PIPELINE_SOURCE == "schedule"
      when: never
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'

pre-commit-autoupdate-check:
  extends: .pre-commit:autoupdate-check
  stage: lint
  rules:
    - if: $CI_PIPELINE_SOURCE == "schedule"
      when: never
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'

pages:
  stage: deploy
  environment: production
  image: registry.access.redhat.com/ubi8/python-311
  script:
  - pip install -r docs/requirements.txt
  - jb build docs --path-output _build
  - mv _build/_build/html public
  artifacts:
    paths:
    - public
  rules:
  - if: $CI_PIPELINE_SOURCE == "schedule"
    when: never
  - if: $CI_COMMIT_REF_NAME == $CI_DEFAULT_BRANCH

pre-commit-autoupdate:
  extends: .pre-commit:autoupdate
  stage: lint
  rules:
  - if: $CI_PIPELINE_SOURCE == "schedule"
  variables:
    MAINTAINERS: "@jdiazsua @ireyes"

bdd-tests-dvo-extractor:
  stage: test
  image: quay.io/redhat-services-prod/obsint-processing-tenant/insights-behavioral-spec/insights-behavioral-spec:latest
  variables:
    PATH_TO_LOCAL_DVO_EXTRACTOR: "$CI_PROJECT_DIR"
    BDD_PATH: /insights-behavioral-spec
    VIRTUAL_ENV: /insights-behavioral-spec-venv/
    WITHMOCK: "1"
    http_proxy: ""
    HTTP_PROXY: ""
    https_proxy: ""
    HTTPS_PROXY: ""
    ENV_DOCKER: "1"
    PIP_TRUSTED_HOST: "repository.engineering.redhat.com"

  script:
    - cd $BDD_PATH
    - make dvo-extractor-tests
  after_script:
    - cp -r "$BDD_PATH/logs/dvo_extractor" "$CI_PROJECT_DIR/logs"
  artifacts:
    untracked: true
    when: on_failure
    paths:
      - ./logs
    expire_in: 1 week
  services:
    - name: quay.io/ccxdev/kafka-no-zk:latest
      alias: kafka
    - name: quay.io/ccxdev/minio-server-ubi:latest
      alias: minio
      command: ["server", "/data"]
      variables:
        MINIO_ACCESS_KEY: test_access_key
        MINIO_SECRET_KEY: test_secret_access_key
        PORT: 9000
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'
