name: BDD Tests

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  bdd:
    runs-on: ubuntu-latest
    container: quay.io/redhat-services-prod/obsint-processing-tenant/insights-behavioral-spec/insights-behavioral-spec:latest
    services:
      kafka:
        image: quay.io/ccxdev/kafka-no-zk:latest
      minio:
        image: quay.io/ccxdev/minio-server-ubi:latest
        env:
          MINIO_ACCESS_KEY: test_access_key
          MINIO_SECRET_KEY: test_secret_access_key
          PORT: 9000
    env:
      PATH_TO_LOCAL_DVO_EXTRACTOR: "${{ github.workspace }}"
      BDD_PATH: /insights-behavioral-spec
      VIRTUAL_ENV: /insights-behavioral-spec-venv/
      WITHMOCK: "1"
      PIP_TRUSTED_HOST: "repository.engineering.redhat.com"
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Run BDD tests
        run: cd $BDD_PATH && make dvo-extractor-tests
      - name: Rename logs
        # Otherwise the upload-artifact action will complain
        if: failure()
        run: for filename in "$BDD_PATH"/logs/dvo_extractor/*; do mv -n "$filename" "$(echo "$filename" | sed -e 's/["><]//g')"; done
      - uses: actions/upload-artifact@v5
        if: failure()
        with:
          name: bdd-logs
          path: /insights-behavioral-spec/logs/dvo_extractor
